.feed{
    flex: var(--content-width);
    border-right: 1px solid var(--twitter-background);
    min-width: fit-content;
    overflow-y: scroll;
}
.feed::-webkit-scrollbar {
    display: none;
}
.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.feed-header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 100;
    border: 1px solid var(--twitter-background);
    padding: 15px 20px;
    display: flex;
    
    /* align-items: center; */
}
.useraccount ,.home{
    background-color: var(--icon-background);
    color: var(--icon-color);
    cursor: pointer;
    border-radius: 40px;
    margin-right: 10px;
    /* width: 120px; */
    height: 50px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 10px;
    padding-right: 20px;
}
.home {
    padding-left: 12px;
}
.useraccount > h4 {
    margin-left: 5px;
}
.home > h4 {
    margin-left: 5px;
}
.user-acc-icon, .home-icon{
    width: 30px !important;
    height: 30px !important;
}
.useraccount:hover, .home:hover{
    color: white;
    background-color: var(--twitter-color);
    transition: color 100ms ease-out; 
    transition: background-color 100ms ease-out;
}
.feed-header-active{
    background-color: var(--twitter-color);
    color: white;
}
