.post-suggestion{
    /* border: 1px solid #b8b8b8;  */
    /* background-color: white; */
    height: 55px;
    border-radius: 65px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    padding-left: 11px;
    padding-right: 12px;
    margin-bottom: 10px;
    user-select: none;
    --suggestion-details-color: #293848;     

}
.suggestion-details > h3{
    font-size: 15px;
    cursor: pointer;
    color: var(--suggestion-details-color);
}
.suggestion-details > h4{
    font-size: 12px;
    line-height: 15px;
    cursor: pointer;
    color: var(--suggestion-details-color);
}
.suggestion-avatar{
    --avatar-size: 40px; 
    width: var(--avatar-size);
    height: var(--avatar-size);
    margin-right: 8px;
}
.suggestion-follow{
    /* border: 1px dashed grey; */
    background-color: #e60060;
    /* background-color: white; */
    /* background-color: var(--icon-background); */
    /* color: var(--icon-color); */
    color: white;
    /* color: #e60060; */
    padding: 5px;
    --padding : 12px; 
    padding-left: var(--padding);
    padding-right: var(--padding);
    margin-left: auto;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}