.multi-input{
    border: 1px dashed grey;
    text-align: center;
    font-size: 14px;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
}