.widgets{
    flex: var(--sidebar-width); 
    overflow-y: scroll;
}
.widgets::-webkit-scrollbar{
    display: none;
}
.widgets-input { 
    display: flex;
    align-items: center;
    background-color: var(--twitter-background);
    padding: 10px; 
    border-radius: 20px; 
    margin-top: 10px; 
    margin-left: 20px;
}

.widgets-input > input {
    border: none; 
    outline: none;
    background-color: var(--twitter-background);
}

.widgets-searchIcon { 
    color: grey;
}

.widgets-widgetContainer { 
    margin-top: 15px; 
    margin-left: 20px; 
    padding: 20px; 
    background-color: #f5f8fa;
    border-radius: 20px;
}