.topic {
    /* border: 1px solid #dddddd; */
    background-color: var(--icon-background);
    color: var(--icon-color);
    padding: 5px;
    padding-left: var(--side-padding);
    padding-right: var(--side-padding);
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    /* border-radius: 10px; */
    cursor: pointer;
}