.comment-box{
    /* border: 1px dashed grey; */
    display: flex;
    margin-top: 5px;
}
.comment-avatar{
    padding: 5px;
    cursor: pointer;
}
.comment-text-content{
    margin-left: 10px;
    max-width: 300px;
    padding:5px;
    border-radius: 10px;
}
.comment-user{
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}
.comment-reply{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}
.comment-box-reply{
    /* border: 1px dashed grey; */
    display: flex;
    margin-top: 5px;
    margin-left: 30px;
}
.more-replies{
    margin-left: 30px;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
.comment-input{
    display: flex;
    margin-top: 10px;
    background-color: var(--twitter-background);
    border-radius: 30px;

}
.comment-input > input {
    flex: 0.8;
    border: 0;
    outline: none;
    border-top-left-radius:30px ;
    border-bottom-left-radius:30px;
    background-color: transparent;
    padding-left: 30px;
    font-weight: 600;
    color: #4a4a4a;
}
.comment-post-btn {
    /* background-color: var(--twitter-color) !important; */
    border: none !important;
    color: var(--twitter-color) !important;
    font-weight: 700 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    width: 80px;
    margin-left: auto !important;
}