.post{
    display: flex; 
    align-items: flex-start;
    border-bottom: 1px solid var(--twitter-background);
    padding-bottom: 10px;
    user-select: none;
    position:relative; 
    /* border: 1px dashed grey; */
}
.post-avatar { 
    padding-top: 20px; 
    padding-left: 20px; 
    padding-right: 10px; 
}

.post-headerText{
    position: relative;
}
.follow-status {
     font-size: 14px;
     font-weight: 600;
     margin-left: 10px;
     padding: 1px;
     padding-left: 5px;  
     padding-right: 5px;
     border: 1px solid grey;
     border-radius: 6px;
     cursor: pointer;
}
.post-headerSpecial {
    font-weight: 600;
    font-size: 12px; 
    color: gray;
}
.post-badge { 
    font-size: 14px !important; 
    color : var(--twitter-color); 
}
.post-body > img {
    border: 1.5px solid #dddddd;
    border-radius: 20px;
    margin-top: 20px;
    width: 550px;
}
.post-body > video {
    border: 1.5px solid #dddddd;
    border-radius: 20px;
    margin-top: 20px;
    width: 600px;
}
.post-body {
    flex: 1; 
    padding: 10px; 
    padding-right: 20px;
    /* border: 1px dashed grey; */
}
.post-time-stamp{
    /* border-top: 1px solid grey; */
    border-bottom: 1px solid #dddddd;
    --padding-time-stamp : 10px; 
    padding-top: var(--padding-time-stamp);
    padding-bottom: var(--padding-time-stamp);
    padding-left: 12px; 
    font-weight: 500;
    color: #4b5960;
}
.post-footer {
    /* border: 1px dashed grey; */
    padding-left: 5px;
    /* padding-bottom: 5px;  */
    display: flex;
    margin-top: 5px;
}

.post-footer-icon{
    display: flex;
    cursor: pointer;
    --icon-border-color : #4b5960; 
    --pdding-top-post-footer: 1px; 
    --padding-side-post-footer: 7px;  
    border-radius: 10px;
    padding-top: var(--pdding-top-post-footer);
    padding-bottom: var(--pdding-top-post-footer);
    padding-left: var(--padding-side-post-footer);
    padding-right: var(--padding-side-post-footer);
}
.post-footer-icon > span {
    margin-right: 1px;
}
.post-footer-icon > h5 {
    margin-top : 3px;
    font-size: 16px;
    color: var(--icon-border-color);
}
.post-footer-icon:first-child:hover{
    background-color:#ffe9f2;
    transition: 100ms;
}
.ps-fo-ico{
    color: var(--icon-border-color); 
}
.ps-fo-ico2{
    color: var(--twitter-color);
    --icon-size : 15px; 
}
.ps-fav-icon{
    color: #f51673;
}

.post-headerDescription{
    /* border: 1px dashed grey; */
    width: 610px;
    white-space: pre-line;
    padding-top: 5px;
    font-family: inherit;
}



